body, html {
	background-color: black;
	margin: 0;
	padding: 0;
}

#navigationContainer {
    width:100%;
    list-style-type: none;

    overflow: hidden;
    display: inline;
}
.navigationLinks {
    width:15%;
    border-radius: 3px;
    margin-left: 10%;
    margin-right: 10%;
    display: inline;
}

#modifyAssignment:hover span {display:none}
#modifyAssignment:hover:before {content:"Modify Homepage"}

#navbar {
	height: 155px;
	background-color: gray;
	margin-left: auto;
	margin-right:auto;
	margin-top: -22px;
	padding: 0;
}

#navbarTitle {
	text-align: center;
}

#profile {
	margin-left: 25px;
	margin-top: 10px;
	float: left;
	border: solid;
	width: 128px;
	height: 128px;
}