body {
	background-color: CornflowerBlue;
}

.navbarLinks {
	padding-left: 35px;
	color: white;
}

#modifyAssignment:hover span {display:none}
#modifyAssignment:hover:before {content:"Modify Homepage"}

#navbar {
	box-shadow: 5px 5px 2px;
	border: solid;
	width: 700px;
	height: 155px;
	background-color: gray;
	margin-left: auto;
	margin-right:auto;
	border-radius: 25px;
}

#navbarTitle {
	text-align: center;
}

#profile {
	margin-left: 25px;
	margin-top: 10px;
	float: left;
	border: solid;
	width: 128px;
	height: 128px;
}