th {
	text-align: center;
	width: 100%;
	background-color: #6699CC;
	padding-left: 0;
	padding-right: 0;
}

#synopsis 
{
	text-indent: 50px;
	width: 100%;
	padding-left: ;
}

.wrapper {
       margin:0 auto;
       width: 214px;
       text-align:center;
}

.movieInfo
{
	text-align: center;

}

#detContainer {
	border: solid;
	background-color: white;
	width: 1097px;
	margin-left: auto;
	margin-right: auto;

}

#movieDetails {
	width: 1097px;
}

#movieDetails tbody tr td ul li img {
	width: 214px;
	height: 317px;
}

#movieDetails tr td ul li {
	display: block;
	margin: 0 auto;
}

#movieDetails tr td ul {
	list-style-type: none;
}

#movieDetails tr td ul li p {
	width: 100%;
}

#movieDetails tr td ul li span {
	width: 100%;
	text-align: center;
}