#loginBox {
	background-color: #6699CC;
	max-height: 500px;
	max-width: 275px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 0;
	box-shadow: 5px 5px 2px;
}

#loginLink {
	color: black;
}

h1 {
	text-align: center;
}